useDynLib(MOJITOO, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(mojitoo,Seurat)
S3method(mojitoo,ArchRProject)
S3method(getDimRed,Seurat)
S3method(getDimRed,ArchRProject)
S3method(setDimRed,Seurat)
S3method(setDimRed,ArchRProject)
S3method(getCellCol,Seurat)
S3method(getCellCol,ArchRProject)
S3method(setCellCol,Seurat)
S3method(setCellCol,ArchRProject)
S3method(setMatrix,Seurat)
S3method(setMatrix,ArchRProject)
export(mojitoo)
export(getDimRed)
export(setDimRed)
export(getCellCol)
export(setCellCol)
export(setMatrix)
export(getMatrix)

